


<h1><%= title%> information</h1>
 <h3>name: <%= name %></h3>
<h3>Relation: <%=  rel%></h3>
<h3>Mobile no: <%=  mobile%></h3>
<h3>course completion date: <%= cdate%> </h3>
<div class="form-group">

