



<h1>Login Successful</h1>
<h2><%= title%> information</h2>
 <h3>name: <%= name %></h3>
 <h3>email:<%= email%></h3>
 <h3>Student Id: <%= id %></h3>
<h3>Gender: <%=  gender%></h3>
<h3>Mobile no: <%=  mobile%></h3>
<h3>Department: <%= dep%> </h3>
<h3>course completion year: <%= cdate%> </h3>
<div class="form-group">
    
